@import './global-variables.styles.scss';

.addProductComponent {
  .MuiDialogTitle-root {
    padding-bottom: 0;
  }
  fieldset {
    border-radius: 4px;
    border-color: gray;

    legend {
      color: gray;
    }
    .inputContainer:first-of-type {
      margin-top: 0;
    }
  }
  .inputContainer {
    & > div {
      width: 80%;
    }
    .autocomplete {
      display: inline-flex;
    }
    align-items: baseline;
    display: flex;
    margin: 5px;
    svg {
      color: gray;
      padding: 0 0.5em;
      &.kcal {
        color: $kcal-color;
      }
      &.fats {
        color: $fats-color;
      }
      &.carbs {
        color: $carbs-color;
      }
      &.proteins {
        color: $proteins-color;
      }
    }

    button svg {
      padding: 0;
    }
  }
  .disabled {
    div {
      color: inherit;
    }
    .MuiInput-underline::before {
      border-bottom-width: 0;
    }
  }
  .MuiFilledInput-root {
    background: transparent !important;
  }
}
