.addMealComponent {
    .padding {
        padding: 1em;
    }

    .addButton {
        background-color: rgba(33,173,33,0.8);;
        float: right;
    }
    .addButton:hover {
        background-color: rgba(33,173,33,1);
    }

    .addProductGroup {
        display: flex;
        flex-wrap: wrap;
        .selectProduct {
            flex: 100px;
        }
    }
}
