.addMealComponent {
  .padding {
    padding: 1em;
  }

  .addButton {
    float: right;
  }

  .addProductGroup {
    display: flex;
    flex-wrap: wrap;
    .selectProduct {
      flex: 100px;
    }
  }
}
