// nutrients colors
$proteins-color: rgb(180, 50, 50);
$carbs-color: rgb(50, 160, 50);
$fats-color: rgb(20, 120, 280);
$kcal-color: #ff9900;

// contained button
$button-color: rgba(0, 128, 0, 0.7);
$button-color-hover: rgba(33, 173, 33, 0.8);
