.headerComponent {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  .flex {
    display: flex;
  }
  .toRight {
    margin-left: auto;
  }

  .logo {
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: rgba(33, 173, 33, 0.8);
    font-size: 24px;
  }
  .menuItem {
    margin: 8px;
  }
  // responsive header
  .icon {
    display: none;
  }
  @media screen and (max-width: 700px) {
    .toRight#menu {
      display: none;
    }
    .icon {
      display: block;
    }

    .responsive .menuItem {
      display: block !important;
      text-align: center;
      margin: 0;
    }
    .responsive {
      float: none;
    }
  }
  @media screen and (min-width: 700px) {
    display: flex;
  }
  &.mainSite {
    background: rgba(0, 2, 15, 0.4);
    color: white;
    .logo {
      font-size: 30px;
    }
    .responsive,
    .icon,
    .logo {
      color: white;
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
