@import './global-variables.styles.scss';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  margin: 0px;

  .appContent > div {
    padding: 1em;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 1000px;
    margin: auto;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
  .card {
    margin: 0.5em 0;
    box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.2);
    padding: 1em;
  }
  // buttons
  .MuiButtonBase-root {
    text-transform: none;
  }
  .MuiButton-contained {
    background-color: $button-color;
    font-size: 12px;
    font-weight: 600;
    color: white;
    &:hover {
      background-color: $button-color-hover;
    }
  }
  .svg-inline--fa.padding {
    padding-right: 10px;
  }
  .emptyInfo {
    padding: 15px;
    font-style: oblique;
    color: #634a4a;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // wcag
  &.wcag {
    background: black;
    div {
      background: black !important;
    }
    fieldset {
      border-color: white !important;
    }
    button {
      background-color: black !important;
      border: 1px solid white !important;
    }
    img {
      opacity: 0;
    }
    & * {
      color: white !important;
    }
    .searcher {
      border: 1px solid;
    }
    .headerComponent {
      background: black;
      button {
        border: none !important;
      }
    }
    .mealInfoComponent {
      border: 1px solid;
      img {
        display: none;
      }
    }
    .calendarComponent .selected {
      background-color: white !important;
      color: black !important;
    }
  }

  // alerts
  .MuiAlert-standardError {
    background-color: rgb(243, 211, 207);
  }
  .MuiAlert-standardSuccess {
    background-color: rgb(198, 228, 198);
  }
}
