.mealCommentsComponent {
  max-width: 950px;
  margin: auto;
  overflow: overlay;
  padding-top: 2em;

  .singleComment {
    border: 1px solid rgba(1, 1, 1, 0.2);
    padding: 14px;
    padding-top: 0;
    margin: 0.3em 0;
    display: flex;
    .center {
      padding-top: 10px;
    }
    &.skeleton {
      padding-top: 10px;
    }
    .commentInfo {
      padding-left: 1em;
      width: 100%;
      .date {
        color: rgba(1, 1, 1, 0.7);
        // float: right;
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        & > .author {
          flex: 1 1;
          padding-top: 8px;
        }
      }
      .author,
      .MuiRating-root {
        margin-top: 7px;
      }
      .trash svg {
        font-size: 14px;
      }
    }
  }

  .toRight {
    float: right;
  }

  .rightGroup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    > span {
      padding: 0.5em;
    }
    .addComment {
      background-color: green;
    }
    .addComment:hover {
      background-color: green;
    }
  }
  .marginBottom {
    margin-bottom: 50px;
  }
}
