.mealComponent {
  .top {
    display: flex;
    flex-wrap: wrap;
    div {
      padding: 1em;
      flex: 1 1 250px;
      margin: 0.2em;
    }
    .about div {
      padding: 0;
    }
  }
  .image {
    text-align: center;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .ingredients > .header {
    display: flex;
    > h3 {
      flex: 1 100px;
    }
  }
  .greenButton {
    color: green;
    border-color: green;
    margin: 10px;
    &:hover {
      background-color: lightgreen;
    }
  }
}
