.mealComponent {
  .top {
    display: flex;
    flex-wrap: wrap;
    div {
      padding: 1em;
      flex: 1 1 250px;
      margin: 0.2em;
    }
    .about {
      padding: 0;
      .prepInfo {
        color: gray;
        margin: 0;
        svg {
          font-size: 20px;
        }
        .divider {
          padding: 0 10px;
        }
      }
    }
    svg {
      padding-right: 10px;
    }
  }
  .image {
    text-align: center;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .shoppingListGroup {
    text-align: right;
    .shoppingListButton {
      margin: auto 5px;
      white-space: nowrap;
    }
  }

  .ingredients {
    & > .header {
      display: flex;
      flex-wrap: wrap;
      & > h3 {
        flex: 1 100px;
      }
    }

    svg {
      font-size: 20px;
    }
    .MuiCheckbox-colorSecondary.Mui-checked {
      color: green;
    }
  }
  .greenButton {
    color: green;
    border-color: green;
    margin: 10px;
    &:hover {
      background-color: lightgreen;
    }
  }
  .youtubeVideo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
