.mealInfoComponent {
  margin: 1em;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.2);

  height: auto;
  div {
    flex: 1 1 200px;
    margin: 0.2em;
  }
  .image {
    text-align: center;
    width: 94%;
    flex: 0 0 40px;
    padding: 2%;
    img {
      max-width: 100%;
      max-height: 330px;
    }
  }
  .info {
    padding: 0.4em;
  }
  .name {
    font-size: 20px;
  }
  .link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .nutrients {
    padding: 0.1em;
    .circle {
      padding: 3px;
      display: inline-block;
    }
    .proteins {
      color: rgb(180, 50, 50);
    }
    .carbs {
      color: rgb(50, 160, 50);
    }
    .fats {
      color: rgb(20, 120, 280);
    }
    .calories {
      color: black;
    }
  }
  .toRight {
    float: right;
  }
  .paddingIcon {
    padding-right: 5px;
  }
}
