.myFridgeComponent {
  .scrollOnOverflow {
    overflow-x: auto;
    tr {
      min-width: 346px;
    }
  }
  .buttonAdd {
    color: rgba(33, 173, 33, 0.8);
  }

  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    .productItem {
      box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.2);
      width: auto;
      max-width: 39%;
      margin: 0.5em;
      padding: 0.6em;
      position: relative;

      overflow: hidden;
      .productName {
        padding-right: 15px;
        max-width: 200px;
        color: rgba(7, 8, 7, 0.7);
        font-weight: 700;
      }
      .corner {
        position: absolute;
        top: 0.5px;
        right: 0.5px;
      }
      .cornerButton {
        background: transparent;
        border: none;
      }
      .cornerButton:hover {
        border: 1px solid lightgray;
      }
      .amountControl {
        max-width: 150px;
      }
    }
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
