.myMealPlanComponent {
  & > span {
    display: flex;
    .calendarButton {
      flex: 1 1 200px;
      button {
        float: right;
      }
    }
  }
  .mealInfoComponent {
    margin: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    img {
      max-height: 130px !important;
    }
  }
  .mealInfoContainer {
    display: flex;
    & > div {
      flex: 1 1;
    }
    & > span button {
      margin: 100% 0;
    }
  }
}
