.myMealPlanComponent {
  & > span {
    display: flex;
    flex-wrap: wrap;
    & > h2 {
      flex: 1 1 280px;
    }
  }
  button svg {
    font-size: 20px;
  }
  .calendarButton {
    min-width: 100px;
    margin-bottom: 20px;
    flex: 1 1 200px;
    button {
      float: right;
    }
  }

  .mealInfoComponent {
    margin: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    img {
      max-height: 130px !important;
    }
  }
  .mealInfoContainer {
    display: flex;
    & > .mealInfoComponent {
      flex: 1 1;
    }
    & > .buttons button {
      display: block;
    }
  }
  .eaten > * {
    background: rgba(1, 1, 1, 0.2);
  }
}
