@import './global-variables.styles.scss';

.nutrientsInfoComponent {
  padding: 0.1em;
  .circle {
    padding: 3px;
    display: inline-block;
  }
  .proteins {
    color: $proteins-color;
  }
  .carbs {
    color: $carbs-color;
  }
  .fats {
    color: $fats-color;
  }
  .calories {
    color: $kcal-color;
  }
  .letter {
    font-weight: bolder;
    font-size: 15px;
    padding-right: 3px;
  }
}
