.productInfoComponent {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  & > * {
    flex: 1 80px;
  }
  .productName {
    font-weight: 800;
    color: #564949;
  }
  .amount {
    color: #564949;
  }
  & > .nutrientsInfoComponent {
    flex: 1 100px;
  }
  img {
    max-height: 50px;
    max-width: 50px;
    padding-right: 10px;
  }
}
