.productListComponent {
  .svg-inline--fa {
    font-size: 16px;
  }
  .listElem {
    display: flex;
    & > span {
      font-weight: 600;
      font-size: 16px;
      color: #443232;
      padding-right: 10px;
      display: inline-block;
      line-height: 60px;
    }
    .amount {
      flex: 0.9 1 10px;
    }
  }
}
