.addMealComponent {
  width: 50%;

  .padding {
    padding: 1em;
  }

  .addButton {
    background-color: rgb(8, 116, 8);
    float: right;
  }
  .addButton:hover {
    background-color: rgb(4, 77, 5);
  }
}
