.headerComponent {
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;

    .toRight {
        margin-left: auto;
    }

    .logo {
        font-weight: bold;
        padding: 0.5rem 1rem;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
